.section_commerce{
    width: 100%;
    padding-top: 20px;
}

.flex_one , .flex_two , .flex_three{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include respond-to(md) {
        
    }
}

.box , .box2{
    width: 400px;
    overflow: hidden;
    position: relative;
    @include respond-to(md) {
        width: 350px;
    }
    @include respond-to(xsm) {
        width: 250px;
    }
}
.box img , .box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  
}
.box:hover img  , .box2:hover img {
    transform: scale(1.1);
  }

.watch{
    height: 350px;
}
.shoes{
    display: flex;
    align-self: flex-end;
}
.items{
    width: 120px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 10%;
    left: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items:hover{
    background-color: orangered;
    transition: 1s;
}
.sighUp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 20px;
    margin: 0 auto;
    height: 390px;
    text-align: center; 
    background-color: #F2F2F2;
    
}
.sighUp_inner{
    flex-direction: column;
    width: 90%;
    height: 90%;
}
.sighUp h2{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat';
}
.sighUp p{
    font-family: 'Montserrat';
    font-weight: 400;
}
.sighUp_btn{
    width: 50%;
    height: 15%;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-top: 30px;
    
}
.sighUp_btn:hover{
    background-color: orangered;
    transition: 1s;
}
.section_flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
