.our_blog{
    width: 100%;
}
.products h1{
    text-align: center;
    font-size: 3rem;
}
.our_blog_h1{
    text-align: center;
    font-size: 3rem;
}

.our_blog_flex{
    display: flex;
    justify-content: space-around;
    gap: 28px;
    @include respond-to(md) {
        flex-direction: column;
    }
}
.our_blog_item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.our_blog_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.our_blog_item:hover img{
    transform: scale(1.1);
}